:root {
    --background-color: red;
  }
  
  body {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    color: gray;
  }
  
  h1 {
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    background-color: var(--background-color);
  }
  
  #author-name-and-date {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: lightgray;
  }
  
  img {
    width: 300px;
  }
  
  p, ol {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    color: gray;
  }
  
  a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: blue;
    text-decoration: none;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  